doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Blockchain exporer for armor network')
    meta(name='og:title', content='Armor (AMX) block explorer')
    meta(name='og:description', content='Blockchain exporer for armor network')
    meta(name='og:image', content='https://explorer.armornetwork.org/images/logo-black.svg')
    title Armor (AMX) block explorer
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
