.logo {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 7px;
    margin-right: 20px;
}

.logo + h1 {
    display: inline-block;
    vertical-align: middle;
}

.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 800px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}